# Salin file ini menjadi .env dan isi nilai yang sesuai

FEATHERLESS_API_KEY=
FEATHERLESS_BASE_URL=https://api.featherless.ai/v1

OPENAI_API_KEY=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://localhost:3000

LANGUAGE=id

STT_PROVIDER=elevenlabs
ELEVENLABS_API_KEY=

TTS_PROVIDER=openai
TTS_MODEL=gpt-4o-mini-tts
TTS_VOICE=nova
TTS_SPEED=1.5
TTS_DEVICE_INDEX=1

PINECONE_API_KEY=
PINECONE_INDEX_NAME=mitsubishi-customers
PINECONE_NAMESPACE=customers-data

HOST=0.0.0.0
PORT=8000
CORS_ORIGINS=http://localhost:80,http://localhost:5173

APP_MODE=production
